<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label color="light" position="floating">Prénom</ion-label>
      <ion-input color="light" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label color="light" position="floating">Nom</ion-label>
      <ion-input color="light" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label color="light" position="floating">Email</ion-label>
      <ion-input color="light" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label color="light" position="floating">Mot de passe</ion-label>
      <ion-input color="light" type="password" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label color="light" position="floating">Profil</ion-label>
        <ion-select required>
          <ion-select-option value="Participant">Participant</ion-select-option>
          <ion-select-option value="Agent">Agent</ion-select-option>
          <ion-select-option value="Employe">Employé</ion-select-option>
          <ion-select-option value="Admin">Administrateur</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/home']" type="submit" color="tertiary" expand="block" shape="round">Inscription</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
